body {
  font-family: "arial";
}

.top-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 180px 0 100px 0;
  background-image: url(icons/header.png);
  background-size: cover;
  text-align: center;
  color: white;
  border-right: 2px soild;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
}

.main {
  position: absolute;
  top: 570px;
  left: 100px;
  width: 1000px;
  padding: 20px 80px;
}

.section-title {
  border-bottom: 4px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 20px;
}

.section-title span {
  background-color: rgb(60, 179, 113);
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.biodata h3 {
  text-align: center;
  font-size: 20px;
  color: gray;
}

.bio table {
  margin-left: 10px;
  width: 430px;
}

.bio {
  margin-top: 100px;
  margin-bottom: 650px;
  background-color: rgba(46, 204, 113, 0.1);
  border-radius: 80px;
}

@media ( max-width: 670px ) {
  .main {
    position: absolute;
    left: 100px;
    width: 100%;
    margin-top: 200px;
    padding: 0px 0px;
  }
  
  .top-wrapper {
    width : 100%;
  }
  
  .contents p{
  text-align: justify;
  font-size: 30px;
  width: 300px;
  }
  
  .data {
    margin-bottom: 80px;
    width: 50%;
    padding: 0px;
    float: left;
    color: white;
    background-color: rgb(60, 179, 113);
    box-shadow: 0 12px #1a7940;
  }
  
  .data img {
    width: 50px;
  }
  
  .biodata h3 {
    font-size: 30px;
  }
  
  .data:hover {
  transition: none;
  position: relative;
  bottom: 0px;
  }
}

.data {
  padding: 10px;
  border-radius: 100px;
  float: left;
}

.terakhir {
  position: relative;
  left: 250px;
}

.data:hover {
  transition: all 0.3s;
  position: relative;
  bottom: 7px;
  color: white;
  background-color: rgb(60, 179, 113);
  box-shadow: 0 12px #1a7940;
}

.bio img {
  width: 100px;
}

.contents table {
  border-spacing: 70px;
}

.noborder {
  border: none;
}

.contents img {
  width: 100px;
  transition: all 0.5s;
}

.contents img:hover {
  width: 300px;
}

.contents {
  margin-top: 100px;
}

.tentang p {
  text-align: center;
  word-spacing: 4px;
  font-size: 16px;
}

/* untuk bagian extra */
.extra {
  width: inherit;
  height: 300px;
  margin-bottom: 50px;
  box-sizing: border-box;
}


.extra-title {
  border-bottom: 4px solid #dee7ec;
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.extra-title span {
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.extrasatu span{
  background-color: #40E1D1;
}

.extrasatu p {
  text-align: justify;
}

.dua span{
  background-color: #00C5CD;
}

.extra-contents-2 {
  display: flex;
  justify-content: space-around;
}

.sponsorship {
  height: 200px;
  margin: 20px;
}

.sponsorship .digitalent {
  height: 200px;
}
.sponsorship .progate {
  height: 100px;
  margin-top: 50px;
  width: 40px;
}
.sponsorship a {
  font-size: 20px;
  font-style: bold;
  text-align: left;
  text-decoration: none;
  color: black;
  margin: auto;
}

.sponsorship:hover {
  transition: all 0.3s;
  position: relative;
  bottom: 7px;
  filter: drop-shadow(10px 10px 5px #222);
}

.sponsorship:active {
  transition: all 0.1s;
  position: relative;
  bottom: -5px;
  filter: drop-shadow(10px 10px 5px #222);
}

@media ( max-width: 670px ){
  .satu {
    margin-bottom: 3000px;
  }
  .dua {
    margin-top: 2000px;
  }
  .extrasatu{
    margin-bottom: 300px;
  }
  .sponsorship p{
    font-size: 10px;
  }
}
/* extra end */